
*.opendb
Project_Connect4/.vs/Project_Connect4/v15/ipch/AutoPCH/df192f40d92d650e/CONNECT4.ipch
Project_Connect4/.vs/Project_Connect4/v15/Browse.VC.db
Project_Connect4/.vs/Project_Connect4/v15/Browse.VC.db
